.masthead-title:before {
  content: '';
  display: inline-block;
  vertical-align: text-bottom;
  width: 57px;
  height: 57px;
  margin-left: -15px;
  background: url(../images/logo-xsmall.png) 0 0 no-repeat;
}
.minor-text {
  font-weight: 400;
  color: #e5e5e5;
}
.minor-text:hover {
  color: #c0c0c0;
  text-decoration: none;
}
.no-spacing {
  margin: 0!important;
}
.search-form {
  position: fixed;
  top: 2rem;
  right: 1rem;
}
.search-form input {
  background: transparent;
  font-size: 1.5em;
  border: none;
  text-align: right;
}
.search-form input:focus {
  background: white;
  outline: 1px solid #CCC;
}

/* Quick floats */
.pull-left {
  float: left !important;
  margin: 0 2rem 2rem 0;
}
.pull-right {
  float: right !important;
  margin: 0 0 2rem 2rem;
}

.social {
  font-size: 0.75em;
  padding-left: 1em;
}
a.icon-social:link,
a.icon-social:visited {
  color: #313131;
}
a.icon-social:hover,
a.icon-social:active {
  color: #268bd2;
}
