<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">

    {% comment %}
      The code below dynamically generates a sidebar nav of pages defined in /_data/menu.yml.
    {% endcomment %}

    {% assign navurl = page.url | remove: 'index.html' %}
    {% for item in site.data.menu %}
      <a class="sidebar-nav-item{% if item.url == navurl %} active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}


  </nav>

  <div class="sidebar-item">
    <p>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Unless otherwise specified <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The WunderWay</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://wunder.uk" property="cc:attributionName" rel="cc:attributionURL">Wunderkraut Ltd</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://way.wunder.io" rel="dct:source">http://way.wunder.io</a>.
    </p>
  </div>
</div>
